<h1>Ajouter un restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
  <%= f.button :submit, 'Créer le restaurant', class: 'btn btn-outline-dark' %>
<%= link_to restaurants_path, class: 'btn btn-outline-secondary' do %>
  <i class="fa fa-list"></i> Retour
<% end %>
<% end %>
