<h1><%= @restaurant.name %></h1>
<p><strong>Adresse</strong> : <%= @restaurant.address %></p>
<p><strong>Numéro de téléphone</strong> : <%= @restaurant.phone_number %></p>
<p><strong>Catégorie</strong> : <%= @restaurant.category %></p>

<h2>Avis :</h2>

<%= render @restaurant.reviews %> <!-- Affiche tous les avis associés au restaurant -->
<%= link_to new_restaurant_review_path(@restaurant), class: 'btn btn-outline-dark' do %>
  <i class="fa fa-plus"></i> Ajouter un avis
<% end %>



<%= render 'reviews/form' %>
